<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= link_to "What's not on your mind?", new_post_path, class:"btn btn-lg btn-primary", id:"create-post-btn" %>

      <!-- Render Posts -->
      <div class="posts">
        <% @posts.each do |post| %>
          <%= render 'posts/show', post: post, like: like(post.id) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4 ads">
      <div class="ad well well-lg">
        <img src="http://via.placeholder.com/250x150" alt="">
        <div>ad text</div>
      </div>
      <div class="ad well well-lg">
        <img src="http://via.placeholder.com/250x150" alt="">
        <div>ad text</div>
      </div>
      <div class="ad well well-lg">
        <img src="http://via.placeholder.com/250x150" alt="">
        <div>ad text</div>
      </div>
      <div class="ad well well-lg">
        <img src="http://via.placeholder.com/250x150" alt="">
        <div>ad text</div>
      </div>
    </div>
  </div>
</div>
