<div class="container privacy-container">
  <img src="http://via.placeholder.com/350x150" />
  <blockquote class="blockquote">
    <p class="mb-0">"Privacy is an illusion."</p>
    <footer class="blockquote-footer"><cite title="Source Title">Mr. Robot</cite></footer>
  </blockquote>
</div>
