<div class="container friends-container">
  <div class="row">
    <% @friends.each do |user| %>
      <div class="col-md-3">
        <div class="card">
          <%= link_to user_path(user.id) do %>
            <img src="http://via.placeholder.com/250x250" alt="">
            <h3><%= "#{user.firstname} #{user.lastname}" %></h3>
          <% end %>

          <%= link_to "Remove Friend", remove_friend_path(user.id), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
