<div class="container friends-container">
  <div class="row">
    <% others.each do |user| %>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3><%= "#{user.firstname} #{user.firstname}" %></h3>
          <%= link_to "See Profile", user_path(user.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
