<!-- main section -->
  <div class="container friends-container">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="images/ic_account_box_black_24dp_2x.png" alt="">
          <h3>Firstname Lastname</h3>
          <button class="btn btn-primary btn-lg">Accept</button>
        </div>
      </div>
    </div>
  </div>
