<div class="container">
    <div class="row">
      <div class="col-md-3 profile-col">
        <img src="images/ic_account_box_black_24dp_2x.png" alt="">
        <h3><a href="#">Firstname Lastname</a></h3>

        <div class="panel panel-default">
          <div class="panel-heading">About Me</div>
          <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur  minim veniam,onsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Contact Info</div>
          <div class="panel-body"><%= @user.email %></div>
        </div>

        <button class="btn btn-primary">See Friends</button>
      </div>
      <div class="col-md-9 posts-col">
        <button class="btn btn-success btn-lg">Create a post</button>

        <!-- Posts Partial -->
        <div class="posts">
          <div class="post">
            <div class="post-header">
              <img src="images/ic_account_box_black_24dp_2x.png" alt="">
              <h3><a href="#">Firstname Lastname</a></h3>
            </div>

            <div class="post-body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      Why do we use it?
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


              </p>
            </div>
            <hr>
            <div class="post-footer">
              <div class="footer-icon">
                <i class="material-icons">thumb_up</i>
                <span>7</span>
              </div>
              <div class="footer-icon">
                <i class="material-icons">mode_comment</i>
                <span>7</span>
              </div>
              <div class="footer-icon pull-right">
                <i class="material-icons">delete</i>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="post-header">
              <img src="images/ic_account_box_black_24dp_2x.png" alt="">
              <h3><a href="#">Firstname Lastname</a></h3>
            </div>

            <div class="post-body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      Why do we use it?
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


              </p>
            </div>
            <hr>
            <div class="post-footer">
              <div class="footer-icon">
                <i class="material-icons">thumb_up</i>
                <span>7</span>
              </div>
              <div class="footer-icon">
                <i class="material-icons">mode_comment</i>
                <span>7</span>
              </div>
              <div class="footer-icon pull-right">
                <i class="material-icons">delete</i>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="post-header">
              <img src="images/ic_account_box_black_24dp_2x.png" alt="">
              <h3><a href="#">Firstname Lastname</a></h3>
            </div>

            <div class="post-body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      Why do we use it?
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


              </p>
            </div>
            <hr>
            <div class="post-footer">
              <div class="footer-icon">
                <i class="material-icons">thumb_up</i>
                <span>7</span>
              </div>
              <div class="footer-icon">
                <i class="material-icons">mode_comment</i>
                <span>7</span>
              </div>
              <div class="footer-icon pull-right">
                <i class="material-icons">delete</i>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
