<div class="container notification-container">
  <% @incoming.each do |request| %>
    <div class="well well-sm">
      <img src="http://via.placeholder.com/48x48" alt="">
      <div class="request-info">
        <p><%= request.user.firstname %> has sent a friend request.</p>
        <span class="time"><%= time_ago_in_words(request.created_at) << " ago" %></span>
      </div>
      <div class="request-buttons">
        <%= link_to friend_request_path(request.id), method: :patch do %>
          <button class="btn btn-success">Accept</button>
        <% end %>
        <button class="btn btn-danger">Decline</button>
      </div>
    </div>
  <% end %>
</div>
