<div class="container notification-container">
  <% @incoming.each do |request| %>
    <div class="well well-sm">
      <img src="images/ic_account_box_black_24dp_2x.png" alt="">
      <p><%= request.user.firstname %> has sent a friend request.</p>
      <span class="time">09:45 pm</span>
    </div>
  <% end %>
</div>
