.register-container {
  .col-md-7 {
    img {
      margin-top: 16px;
    }
  }

  .col-md-5 {
    form {
      .col-md-6 {
        padding: 0;
      }

      .col-md-6.left {
        padding-right: 10px;
      }
      .col-md-6.right {
        padding-left: 10px;
      }

      .radio-inline {
        font-weight: bold;
        font-size: 18px;
      }

      #birthday {
        margin-top: 16px;
      }

      .btn-lg {
        padding-left: 48px;
        padding-right: 48px;
      }
    }

  }
}
