.friends-container {
  margin-top: 16px;
  padding: 16px;

  .card {
    background: $white;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    margin-top: 28px;
    
    img {
      width: 96px;
      height: 96px;
    }

    button {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}