@import "bootstrap-sprockets";
@import "bootstrap";

@import 'colors';
@import 'navbar';
@import 'auth';
@import 'notification';
@import 'friends';
@import 'privacy';
@import 'create-post';
@import 'view-post';
@import 'user-profile';
@import 'posts-index';
@import 'edit-profile';

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  background: $whitesmoke;
}
