nav {
  background: $facebook-blue;

  #logo {
    margin-top: 24px;
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .logo-authenticated {
    margin: 0!important;
    font-size: 36px!important;
  }

  .navbar-right {
    .form-inline {
      margin: 16px 0;

      label {
        display: block;
        color: $white;
      }

      .btn {
        margin-top: 24px;
      }
    }

    .navbar-right-links {
      display: flex;
      align-items: center;
      justify-content: center;

      .avatar {
        width: 48px;
        height: 48px;
        margin-right: 4px !important;
        border-radius: 50%;
      }

      a {
        font-weight: bold;
      }

      * {
        display: inline-block;
        margin-right: 16px;
        color: $white;
      }

      .dropdown {
        i {
          cursor: pointer;
        }

        .dropdown-item {
          color: $lightgrey;
          padding: 8px;
          width: 100%;
        }

        #dropdown-content {
          display: none;
        }
      }
    }
  }
}
