.notification-container {
  padding: 16px 8px;

  .well {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      margin-right: 12px;
    }

    .request-info {
      flex: 1;
      p {
        font-size: 17px;
        margin: 0;
      }

      .time {
        margin-top: 8px;
        color: $lightgrey;
      }
    }
  }
}
