.profile-col {
  text-align: center;


  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    margin-top: 8px;
    font-size: 24px;
  }

  .btn {
    width: 100%;
  }
}

.posts-col {
  padding-top: 24px;
}
